doc/unparse-wadl.xml

<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:apigee="http://api.apigee.com/wadl/2010/07/" xmlns="http://wadl.dev.java.net/2009/02" xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

	<resources base="http://api.unparse.emersion.fr/1">
		<resource path="/classes/{className}">
			<param name="className" required="true" type="xsd:string" style="template">
				<doc>The class name.</doc>
			</param>
			<param name="where" required="false" type="xsd:string" style="query">
				<doc>Query contrainsts.</doc>
			</param>

			<method id="queryObjects" name="GET" apigee:displayName="Query objects">
				<apigee:authentication required="true"/>
				<doc apigee:url="https://www.parse.com/docs/rest#queries">
					Query objects.
				</doc>
			</method>
		</resource>
	</resources>
</application>